## Setup

In [1]:
from dotenv import load_dotenv
import matplotlib.pyplot as plt

load_dotenv()  # Defines KAGGLE_USERNAME and KAGGLE_KEY
%matplotlib inline
print('Setup complete')

Setup complete

## Download Data

In [4]:
import kaggle
import os

api = kaggle.api
# Kaggle requires an authentication token to access the API
# Go to your Kaggle account settings to generate an API token, which will be downloaded as a kaggle.json file
# Create a .env file and define the following environment variables...
# KAGGLE_USERNAME="your_username"
# KAGGLE_KEY="your_key"

if not os.path.isdir('./data'):
    print('Dowloading dataset...')
    api.dataset_download_files('nayanack/water-probability', path='./data', unzip=True)
    print('Complete')
else:
    print('Dataset already downloaded')

Dowloading dataset...
Dataset URL: https://www.kaggle.com/datasets/nayanack/water-probability
Complete

## Load Data

In [1]:
import pandas as pd

DATASET_URL = '.\data\water_potability.csv'
potability_data = pd.read_csv(DATASET_URL)
potability_data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [3]:
potability_data.dtypes

ph                 float64
Hardness           float64
Solids             float64
Chloramines        float64
Sulfate            float64
Conductivity       float64
Organic_carbon     float64
Trihalomethanes    float64
Turbidity          float64
Potability           int64
dtype: object

In [5]:
n = len(potability_data)
print(f'Number of entries: {n}')
print(f'Dataframe shape: {potability_data.shape}')

Number of entries: 3276
Dataframe shape: (3276, 10)